alembic==1.7.7
aniso8601==9.0.1
asn1crypto==1.5.1
atomicwrites==1.4.0
attrs==21.4.0
black==22.3.0
click==8.1.2
colorama==0.4.4
coverage==6.3.2
Flask==2.0.3
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.1.1
Jinja2==3.0.3
Mako==1.2.0
MarkupSafe==2.1.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
pg8000==1.26.1
platformdirs==2.5.2
pluggy==1.0.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
py==1.11.0
pyparsing==3.0.8
pytest==7.1.1
python-dotenv==0.20.0
pytz==2021.3
random-username==1.0.2
scramp==1.4.1
six==1.16.0
SQLAlchemy==1.4.35
SQLAlchemy-Utils==0.38.2
testing.common.database==2.0.3
testing.postgresql @ git+https://github.com/tk0miya/testing.postgresql.git@c81ded434d00ec8424de0f9e1f4063c778c6aaa8
tomli==2.0.1
Werkzeug==2.0.3
